@charset "utf-8";

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}   
table{border-collapse: collapse; border-spacing: 0;}
td, th, caption{ font-weight: normal; text-align: left;}
img, fieldset { border: 0;}
ol {padding-left: 1.4em; list-style: decimal;}
ul {padding-left: 1.4em; list-style: square;}
q:before, q:after {content:"";}
/*¡¡¡¡¡¡Reseteador de navegador!!!!!*/

body{
    background-image: url(https://www.publicdomainpictures.net/pictures/410000/nahled/children-planet-learning-16305681988kr.jpg);
    backdrop-filter: blur(5px);
    height: -10px;
}
header{
    background-image: url(https://i0.wp.com/www.adams.es/blogs/alumno/files/2019/04/portada-colores-ok.jpg?fit=1000%2C667&ssl=1);
    width: 40%;
    height: 400px;
    background-size: cover;
    border-radius: 0px 0px 900px 0px;
    text-shadow: rgb(0, 0, 0) 7px 7px 10px;
    background-color: red;
    border: 2px solid black;
    box-shadow: rgb(0, 0, 0) 6px 6px 10px;
}    
header h1{
    color: white;
   -webkit-text-stroke: 2px black;
    font: bold 5em impact; 
    text-align: center;;
    
}
header figcaption{
    padding-top: 90px;
    color: white;
   -webkit-text-stroke: 2px rgb(0, 0, 0);
    font: bold 1.9em impact; 
    margin-left: 10px;
    
}
footer{
    background-image: url(https://github.com/JAMBOOOX/PlayKids/raw/main/little-children-running-isolated-on-260nw-1685603617-removebg-preview-removebg-preview.png); 
    background-size: cover;
    height: 200px;
    width: 100%;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;

}
footer p{
    color: rgb(0, 0, 0);
    font: bold 13px arial;
    -webkit-text-stroke: 0.3px rgb(57, 0, 200);
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    height: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
section{    
    background-color: white;
    padding-bottom: 100px;
    background-color: rgb(255, 255, 255);
    width: 0%;
    height: 300px;
    margin-left: 900px;
    margin-top: -400px;
}

#IZQUIERDA{
    float: left;
    background-color: white;
    padding-bottom: 100px;
    background-color: rgb(255, 255, 255);
    width: 0%;
    height: 300px;
    margin-left: 520px;
    margin-top: -415px;
}
img{
    margin-left: 20px;
    margin-top: 20px;
    border: 5px solid rgb(0, 0, 0) ;
    border-radius: 90px 90px 0px 0px;
    transition: transform 0.9s;
}
img:hover{
    transform:scale(0.9);  
    transition: transform 0.5s ease-in-out;
}
input{
    color: rgb(36, 29, 29);
    width: 20%;
    height: 30px;
    border-radius: 0px 30px 30px 0px;
    font: bold 13px impact;
    padding-left: 3px;
    border: 2px solid black;
}
figure figcaption{
    color: rgb(255, 255, 255);
   -webkit-text-stroke: 2px rgb(0, 0, 0);
    font: bold 1.em impact; 
    margin-left: 165px;
}
#NO{
   margin-top: 10px;
   margin-left: 10px;
   color: rgb(0, 0, 0);
   font: normal 1.5em impact;
   -webkit-text-stroke: 0.8px rgb(255, 255, 255);
   background-color: black;
   width: 40%;

}
#ED{
    
    margin-left: 10px;
    color: rgb(99, 5, 5);
    font: normal 1.5em impact;
    -webkit-text-stroke: 0.8px rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 40%;
   
}
    
#PA{
    padding: 10px auto;
    margin-left: 10px;
    color: rgb(55, 8, 144);
    font: normal 1.5em impact;
    -webkit-text-stroke: 0.8px rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 40%;
    
}
